
numpy @ file:///C:/ci/numpy_and_numpy_base_1620833114945/work

pandas @ file:///C:/ci/pandas_1618365634936/work

scikit-learn @ file:///C:/ci/scikit-learn_1621370563523/work

streamlit==0.82.0
